@model IEnumerable<DAPMDuLich.Models.DatTour>
@{
    ViewBag.Title = "History";
    Layout = "~/Areas/User/Views/Shared/LayoutDatTour.cshtml";
}

<link rel="stylesheet" href="~/CSS/animate.css" />
<link rel="stylesheet" href="~/CSS/bootstrap.css" />
<link rel="stylesheet" href="~/CSS/icomoon.css" />
<link rel="stylesheet" href="~/CSS/owl.carousel.min.css" />
<link rel="stylesheet" href="~/CSS/owl.theme.default.min.css" />
<link rel="stylesheet" href="~/CSS/style.css" />

<h2>Lịch sử đặt tour</h2>

<table class="table" style="margin-bottom:420px;justify-items:center">
    <tr>
        <th>
            Tên tour
        </th>
        <th>
            Trạng Thái Đặt Tour
        </th>
        <th>
            Ngày tạo đơn đặt
        </th>
        <th>
            Trạng thái thanh toán
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@(item.ThanhToan.HasValue && item.ThanhToan.Value ? "paid" : "unpaid")">
            <td>
                @Html.DisplayFor(modelItem => item.TourDuLich.TieuDe)
            </td>
            <td>
                @{
                    if (item.Status == null)
                    {
                        <button class="btn btn-dark"></button>
                    }
                    else if (item.Status == true)
                    {
                        <button class="btn btn-success"></button>
                    }
                    else
                    {
                        <button class="btn btn-danger"></button>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @{
                    if (item.ThanhToan.HasValue)
                    {
                        if (item.ThanhToan.Value)
                        {
                            <span class=" label label-success">Đã thanh toán</span>
                        }
                        else
                        {
                            <span class="label label-danger">Chưa thanh toán</span>
                        }
                    }
                    else
                    {
                        <span class="label label-danger">Chưa thanh toán</span>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Chi tiết đặt tour", "Details", "BookingDetail", new { id = item.BookingID }, new { @type = "button", @class = "btn btn-info" })
                @Html.ActionLink("Hủy Tour", "Delete", "Booking", new { id = item.BookingID }, new { @type = "button", @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
